IMPORTING THE PACKAGE

In [1]:
import numpy as np
import pandas as pd

READING THE FILE WITH DRONE DATA OF THE STUDY REGION

In [15]:
d1=pd.read_csv('usv_correct_fulldata.csv') #LAND + NOT REFRACTION CORRECTED WATER SURFACE
d2=pd.read_csv('usv_correct_waterdata.csv') #REFRACTION CORRECTED WATER SURFACE

In [16]:
d1

                E           N     CD
0       695118.52  5537393.84 -10.03
1       695018.52  5537412.84   4.26
2       695019.52  5537412.84   4.10
3       695020.52  5537412.84   3.76
4       695021.52  5537412.84   3.67
...           ...         ...    ...
109919  695472.52  5537693.84   8.28
109920  695473.52  5537693.84   8.31
109921  695474.52  5537693.84   8.30
109922  695475.52  5537693.84   8.28
109923  695476.52  5537693.84   8.29

[109924 rows x 3 columns]

CREATION OF A DATASET TO ELIMINATE THE'NOT REFRACTION CORRECTED' WATER SURFACE FROM d1

In [17]:
#the logic is explained using venn diagam in methodolofy
df=pd.merge(d1,d2,how='inner',on=['E','N'])
print(df)

               E           N  CD_x  CD_y
0      695049.52  5537418.84  1.01  0.93
1      695050.52  5537418.84  0.97  0.90
2      695051.52  5537418.84  0.95  0.85
3      695052.52  5537418.84  0.92  0.80
4      695049.52  5537419.84  1.03  0.95
...          ...         ...   ...   ...
53562  695400.52  5537618.84  0.81  0.67
53563  695401.52  5537618.84  0.81  0.67
53564  695402.52  5537618.84  0.81  0.67
53565  695403.52  5537618.84  0.80  0.66
53566  695404.52  5537618.84  0.81  0.67

[53567 rows x 4 columns]

DROPING THE 'CD_x' of d1 (NOT REFRACTION CORRECTED SURFACE) AND CREATING A DATASET WITH REFRACTION CORRECTED SURFACE

In [18]:
df=df.drop(columns='CD_x')
df=df.rename(columns={'CD_y':'CD'})
print(df)

               E           N    CD
0      695049.52  5537418.84  0.93
1      695050.52  5537418.84  0.90
2      695051.52  5537418.84  0.85
3      695052.52  5537418.84  0.80
4      695049.52  5537419.84  0.95
...          ...         ...   ...
53562  695400.52  5537618.84  0.67
53563  695401.52  5537618.84  0.67
53564  695402.52  5537618.84  0.67
53565  695403.52  5537618.84  0.66
53566  695404.52  5537618.84  0.67

[53567 rows x 3 columns]

OVERLAPPING BOTH DATASET AND MAKING ONE BIG DATASET

In [20]:
combined_uav=pd.concat([d1,df],ignore_index=True)
print(combined_uav)

                E           N     CD
0       695118.52  5537393.84 -10.03
1       695018.52  5537412.84   4.26
2       695019.52  5537412.84   4.10
3       695020.52  5537412.84   3.76
4       695021.52  5537412.84   3.67
...           ...         ...    ...
163486  695400.52  5537618.84   0.67
163487  695401.52  5537618.84   0.67
163488  695402.52  5537618.84   0.67
163489  695403.52  5537618.84   0.66
163490  695404.52  5537618.84   0.67

[163491 rows x 3 columns]

ELIMINATING THE DUPLICATE DATASET OF THE d1 and KEEPING THE DATASET FROM d3

In [22]:
combined_uav=combined_uav.drop_duplicates(keep='last',subset=['E','N'])
print(combined_uav)

                E           N     CD
0       695118.52  5537393.84 -10.03
1       695018.52  5537412.84   4.26
2       695019.52  5537412.84   4.10
3       695020.52  5537412.84   3.76
4       695021.52  5537412.84   3.67
...           ...         ...    ...
163486  695400.52  5537618.84   0.67
163487  695401.52  5537618.84   0.67
163488  695402.52  5537618.84   0.67
163489  695403.52  5537618.84   0.66
163490  695404.52  5537618.84   0.67

[109924 rows x 3 columns]

In [23]:
combined_uav=combined_uav.reset_index()
print(combined_uav)

         index          E           N     CD
0            0  695118.52  5537393.84 -10.03
1            1  695018.52  5537412.84   4.26
2            2  695019.52  5537412.84   4.10
3            3  695020.52  5537412.84   3.76
4            4  695021.52  5537412.84   3.67
...        ...        ...         ...    ...
109919  163486  695400.52  5537618.84   0.67
109920  163487  695401.52  5537618.84   0.67
109921  163488  695402.52  5537618.84   0.67
109922  163489  695403.52  5537618.84   0.66
109923  163490  695404.52  5537618.84   0.67

[109924 rows x 4 columns]

In [24]:
combined_uav=combined_uav.drop(columns='index')
print(combined_uav)
#when the combining is done a logical check is to check whethe the d3 has the 
# same numbe of rows as d1 after combining with d3 and eliminating the duplicates frm d1

                E           N     CD
0       695118.52  5537393.84 -10.03
1       695018.52  5537412.84   4.26
2       695019.52  5537412.84   4.10
3       695020.52  5537412.84   3.76
4       695021.52  5537412.84   3.67
...           ...         ...    ...
109919  695400.52  5537618.84   0.67
109920  695401.52  5537618.84   0.67
109921  695402.52  5537618.84   0.67
109922  695403.52  5537618.84   0.66
109923  695404.52  5537618.84   0.67

[109924 rows x 3 columns]

SAVING THE COMBINED DATASET INTO A FILE AS .txt and.csv

In [25]:
combined_uav.to_csv('final_uav_combined.csv',index=False)
combined_uav.to_csv('final_uav_combined.txt',index=False)