In [7]:
import pandas as pd

In [8]:
d1=pd.read_csv('multifinal_chartdatum_ETRS89.csv')

In [9]:
d2=pd.read_csv('final_uav_combined.csv')

In [11]:
d3=pd.concat([d1,d2],ignore_index=True)
d3

                E           N        CD
0       695400.02  5537654.34  2.297879
1       695401.02  5537654.34  2.296145
2       695402.02  5537654.34  2.286431
3       695403.02  5537654.34  2.276891
4       695404.02  5537654.34  2.275504
...           ...         ...       ...
425139  695400.52  5537618.84  0.670000
425140  695401.52  5537618.84  0.670000
425141  695402.52  5537618.84  0.670000
425142  695403.52  5537618.84  0.660000
425143  695404.52  5537618.84  0.670000

[425144 rows x 3 columns]

In [13]:
d3.to_csv('multi_uav.csv',index=False)
d3.to_csv('multi_uav.txt',index=False)